<h1>Upton Air Quality Monitor</h1>
<button action = "/p" value = "pull data from purpleAir">
<form id = "aqForm" action = "/get_plot" method = "POST">
 <label for="window">Timespan for Data:</label>
 <input type="text" name="window" id="window" required/>
 <label for="sensor">Sensor:</label>
 <select id="sensor" name="sensor">
  <option value="Upton">Upton</option>
  <option value="Uxbridge">Uxbridge</option>
 </select>
</form>
<div></div>

{% if plot_url %}
	{% for plot in plot_url %}
		<img src = "{{plot}}" alt = "error displaying plot">
	{% endfor %}
{% endif %}

{% if updated %}
	<b>Data synced from purpleair</b>
{% endif %}





